{% extends "registration/base.html" %}

{% load widget_tweaks %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="container-fluid">
    {% include "chatdemo/errors_and_messages.html" %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <form action="{% url 'chatdemo:password_change' %}" method="post" class="form-horizontal">
                {% csrf_token %}

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        {{ form.old_password |attr:"placeholder:Old password" |add_class:"form-control" }}
                    </div>
                </div>

                <div class="form-group"> 
                    <div class="col-sm-8 col-sm-offset-2">
                        {{ form.new_password1 |attr:"placeholder:New password" |add_class:"form-control" }}
                    </div>
                </div>

                <div class="form-group"> 
                    <div class="col-sm-8 col-sm-offset-2">
                        {{ form.new_password2 |attr:"placeholder:Confirm password" |add_class:"form-control" }}
                    </div>
                </div>

                <div class="col-sm-8 col-sm-offset-2">
                <button class="btn btn-primary btn-block" type="submit">Change password</button>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}